<a href="https://100dayscss.com/days/6/" target="_blank">Day #6 </a>
<section class="container">
  <div class="content">
    <div class="left">
      <div class="img_container">
        <div class="circle-1"></div>
        <div class="circle-2"></div>
        <img
          src="https://100dayscss.com/codepen/jessica-potter.jpg"
          alt="jessica"
        />
      </div>
      <div class="name">
        <h2>Jessica Potter</h2>
        <p>Visual Artist</p>
      </div>
      <div class="actions">
        <button>Follow</button>
        <button>Message</button>
      </div>
    </div>
    <div class="right">
      <div>
        <h2>523</h2>
        <p>Posts</p>
      </div>
      <div>
        <h2>1387</h2>
        <p>Likes</p>
      </div>
      <div>
        <h2>146</h2>
        <p>Followers</p>
      </div>
    </div>
  </div>
</section>
