<a href="https://100dayscss.com/days/10/" target="_blank">Day #10 </a>
<section class="container">
  <div class="content">
    <svg
      class="spinner"
      viewBox="0 0 202 202"
      xlmns="https://www.w3.org/2000/svg"
    >
      <circle cx="101" cy="101" r="99.5"></circle>
    </svg>
    <div class="dots">
      <p class="date">Mon 15 Jan 2015</p>
      <h2>11:42</h2>
      <div>
        <div class="beat"><i class="fa-solid fa-heart"></i>81</div>
        <div class="energy">1248 kcal</div>
      </div>
    </div>
  </div>
</section>
