<a href="https://100dayscss.com/days/19/" target="_blank">Day #19 </a>
<section class="container">
  <div class="content day19">
    <div class="block blue"></div>
    <div class="block green"></div>
    <div class="block red"></div>

    <div class="actions">
      <div class="circle" (click)="changePosition(1)"></div>
      <div class="circle" (click)="changePosition(2)"></div>
      <div class="circle" (click)="changePosition(3)"></div>
      <div class="button"></div>
    </div>
  </div>
</section>
