<a href="https://100dayscss.com/days/13/" target="_blank">Day #13 </a>
<section class="container">
  <div class="content">
    <div class="images">
      <div class="image">
        <img src="https://100dayscss.com/codepen/13-1.jpg" alt="image" />
        <button (click)="openDetails()">
          <i class="fa-solid fa-plus"></i>
        </button>
      </div>
      <div class="image">
        <img src="https://100dayscss.com/codepen/13-2.jpg" alt="image" />
        <button (click)="openDetails()">
          <i class="fa-solid fa-plus"></i>
        </button>
      </div>
      <div class="image">
        <img src="https://100dayscss.com/codepen/13-3.jpg" alt="image" />
        <button (click)="openDetails()">
          <i class="fa-solid fa-plus"></i>
        </button>
      </div>
      <div class="image">
        <img src="https://100dayscss.com/codepen/13-4.jpg" alt="image" />
        <button (click)="openDetails()">
          <i class="fa-solid fa-plus"></i>
        </button>
      </div>
    </div>
    <div class="details">
      <img
        class="background"
        src="https://100dayscss.com/codepen/13-1-header.jpg"
      />
      <div class="infos">
        <img src="https://100dayscss.com/codepen/13-1.jpg" alt="" />
        <h2>Julia Toth</h2>

        <div class="actions">
          <button><i class="fa-solid fa-phone"></i></button>
          <button><i class="fa-solid fa-comment"></i></button>
          <button><i class="fa-solid fa-heart"></i></button>
        </div>
      </div>

      <button class="close" (click)="closeDetails()">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
  </div>
</section>
