<a href="https://100dayscss.com/days/7/" target="_blank">Day #7 </a>
<section class="container">
  <div class="content">
    <div class="header">
      <i class="fa-solid fa-bars"></i>
      <h2>Notifications</h2>
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <div class="timeline">
      <div class="elements">
        <div class="element">
          <div class="icon">
            <i class="fa-regular fa-circle"></i>
          </div>
          <div class="text">
            <h4>9:53 am</h4>
            <p><b>John Doe</b> posted a photo on your wall.</p>
          </div>
        </div>
        <div class="element">
          <div class="icon">
            <i class="fa-regular fa-circle"></i>
          </div>
          <div class="text">
            <h4>9:53 am</h4>
            <p><b>John Doe</b> posted a photo on your wall.</p>
          </div>
        </div>
        <div class="element">
          <div class="icon">
            <i class="fa-regular fa-circle"></i>
          </div>
          <div class="text">
            <h4>9:53 am</h4>
            <p><b>John Doe</b> posted a photo on your wall.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
